.signup-input-box {
  position: relative;
}

.signup-input {
  width: 250px;
}

.signup-input:focus {
  border-color: #a8a8a8;
}

.signup-input:not(:placeholder-shown) {
  padding-top: 10px;
  padding-bottom: 0px;
}

.signup-input::placeholder {
  color: transparent;
}

.signup-input:placeholder-shown + .signup-label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: rgb(142, 142, 142);
  font-size: 13px;
  margin-left: 49px;
  margin-top: 12px;
}

.signup-input:not(:placeholder-shown) + .signup-label,
.signup-label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: rgb(142, 142, 142);
  font-size: 10px;
  margin-left: 49px;
  margin-top: 5px;
  pointer-events: none;
  position: absolute;
  left: 0px;
  transition: all 0.1s ease;
}

.message {
  position: absolute;
  margin-left: -71px;
  margin-top: 7px;
}

.signup-button:disabled {
  background-color: #4db5f9;
  cursor: auto;
}

.signup-button:not(:disabled) {
  background-color: #0095f6;
}

.signup-button:not(:disabled):hover {
  background-color: #1877f2;
}
